[submodule "Original"]
	path = Original
	url = C:\\Users\\pierc\\OneDrive\\文件\\Video_streaming_and_tracking/HW2/Code/Original
[submodule "SE"]
	path = SE
	url = C:\\Users\\pierc\\OneDrive\\文件\\Video_streaming_and_tracking/HW2/Code/SE
